{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="post bg-light">
    <div class="row">
        <div class="col-2 post__img">
            {% if post.user.profile.profile_image %}
            <img src="{{ post.user.profile.profile_image.url }}" alt="Profile picture">
            {% else %}
            <img src="{% static 'images/default_user.png' %}" alt="Profile picture">
            {% endif %}
        </div>
        <div class="col-8 post__body">
            {{ post.body }}<br/>
        </div>
        <div class="row">
            <small class="text-muted post_footer">
                {{ post.created_at }} by
                @{{ post.user.username }} -
                {{ post.count_likes }}  likes |
                {% if user in post.likes.all %}
                <a href="{% url 'post_like' post.id %}">
                    <i style="color: red;" class="material-symbols-outlined">
                        heart_check
                    </i>
                </a>
                {% else %}
                <a href="{% url 'post_like' post.id %}">
                    <i style="color: red;" class="material-symbols-outlined">
                        heart_plus
                    </i>
                </a>
                {% endif %}
            </small>
        </div>
    </div>
</div>
{% endblock %}
