{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if profile %}
        <h1>Perfil de {{ profile.user.username }} </h1>
        {% if profile.profile_image %}
            <img style="width: 250px; height: 250px; border-radius: 100%" src="{{ profile.profile_image.url }}">
        <br/>
        {% endif %}
        <strong>Seguindo</strong><br>
        {% for following in profile.follows.all %}
            <a href="{% url 'profile' following.user.id %}">
                @{{ following }}
            </a><br>
        {% endfor %}
        <strong>Seguidores</strong><br>
        {% for following in profile.followed_by.all %}
            <a href="{% url 'profile' following.user.id %}">
                @{{ following }}
            </a><br>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit"> - @{{ profile.user.username }}</button>
            {% else %}
                <button class="btn btn-outline-success" name="follow" value="follow" type="submit"> + @{{ profile.user.username }}</button>
            {% endif %}
        </form>
        {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-secondary">modificar perfil</a>
        {% endif%}
        {% if posts %}
            {% for post in posts %}
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                {% if profile.profile_image %}
                                    <img src="{{ profile.profile_image.url }}" style="max-width: 50px; max-height: 50px" class="img-fluid rounded-start" alt="Profile picture">
                                {% else %}
                                    <img src="{% static 'images/default_user.png' %}" style="max-width: 50px; max-height: 50px" class="img-fluid rounded-start" alt="Profile picture">
                                {% endif %}
                            </div>
                            <div class="col-8">
                                {{ post.body }}<br/>
                            </div>
                            <div class="row">
                                <small class="text-muted">{{ post.created_at }} by @{{ post.user.username }}</small>
                            </div>
                        </div>
                    </div>
                </div><br/>
            {% endfor %}
        {% endif %}

    {% endif %}
{% endblock %}