{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>busca</h1>
<form method=POST class="m-3">
    {% csrf_token %}
    <input type="input" class="form-control"  placeholder="busca por posts" name="search">
    <button type="submit" class="btn btn-secondary mt-3">buscar posts</button>
</form>
{% if search %}
<h3 class="text-light">procurando por: {{ search }}</h3>
{% for post in searched %}
<div class="post bg-light">
    <div class="row">
        <div class="col-2 post__img">
            {% if post.user.profile.profile_image %}
            <img src="{{ post.user.profile.profile_image.url }}" alt="Profile picture">
            {% else %}
            <img src="{% static 'images/default_user.png' %}" alt="Profile picture">
            {% endif %}
        </div>
        <div class="col-8 post__body">
            {{ post.body }}
        </div>
        <div class="row">
            <small class="text-muted post_footer">
                {{ post.created_at }} by
                @{{ post.user.username }} -
                {{ post.count_likes }}  likes |
                <a href="{% url 'post' post.id %}">
                    <i style="color: grey;" class="material-symbols-outlined">
                        share
                    </i>
                </a>
            </small>
        </div>
    </div>    
</div>
{% endfor %}
{% endif %}
{% endblock %}