{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>busca</h1>
<form  method=POST>
    {% csrf_token %}
    <input type="input" class="form-control"  placeholder="busca por posts" name="search">
    <button type="submit" class="btn btn-secondary">busca por posts</button>
</form>
{% if search %}
<h3>procurando por: {{ search }}</h3>
{% for post in searched %}
<div class="alert alert-dark" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if post.user.profile.profile_image %}
                <img src="{{ post.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                {% else %}
                <img src="{% static 'images/default_user.png' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
                {% endif %}
            </div>
            <div class="col-11">
                {{ post.body }}
                <small class="text-muted">
                    ({{ post.created_at}}) By
                    @{{ post.user.username }}
                    {{ post.number_of_likes }}
                    <a href="{% url 'post' post.id %}">
                        share
                    </a>
                </small>
            </div>
        </div>    
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}